services:

  front:
    build:
      context: .
      dockerfile: src/apps/front/Dockerfile
    container_name: front
    ports:
      - "4000:3000"
    networks:
      - app-network
    depends_on:
      - cdn
      - db
    volumes:
      - ./src/apps/front:/app/src/apps/front
      - ./src/apps/admin:/app/src/apps/admin
      - ./theme/icon.svg:/app/src/apps/front/app/icon.svg
      - ./theme:/app/theme
      - ./prisma:/app/prisma
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_CDN_HOST=cdn
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
      # Force Next.js/Webpack to poll for changes every 300ms
      - WATCHPACK_POLLING=true
      # Optional: If using Chokidar internally
      - CHOKIDAR_USEPOLLING=true

  admin:
    build:
      context: .
      dockerfile: src/apps/admin/Dockerfile
    container_name: admin
    ports:
      - "4001:3001"
    networks:
      - app-network
    depends_on:
      - cdn
      - db
    volumes:
      - ./src/apps/admin:/app/src/apps/admin
      - ./src/apps/front:/app/src/apps/front
      - ./uploads:/app/uploads
      - ./theme:/app/theme
      - ./theme/icon.svg:/app/src/apps/admin/app/icon.svg
      - ./prisma:/app/prisma
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_CDN_HOST=cdn
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
      # Force Next.js/Webpack to poll for changes every 300ms
      - WATCHPACK_POLLING=true
      # Optional: If using Chokidar internally
      - CHOKIDAR_USEPOLLING=true
  cdn:
    build:
      context: .
      dockerfile: src/apps/cdn/Dockerfile
    container_name: cdn
    ports:
      - "4002:3002"
    networks:
      - app-network
    volumes:
      - ./src/apps/cdn:/app/src/apps/cdn
      - ./uploads:/app/uploads

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    ports:
      - "5432:5432"
    networks:
      - app-network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: