@import "tailwindcss";

@source "@theme/*.ts";
@source "@theme/*.tsx";
@source "../safelist.txt";

@import "./../../../../theme/globals.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-laureo-primary: oklch(0.511 0.096 186.391);
    --color-laureo-secondary: oklch(27.9% 0.041 260.031);

    --color-laureo-body: oklch(98.4% 0.003 247.858);
    --color-laureo-body-dark: oklch(12.9% 0.042 264.695);

    --color-laureo-text: oklch(98.4% 0.003 247.858);
    --color-laureo-text-dark: oklch(12.9% 0.042 264.695);

    --color-laureo-text-lighter: oklch(27.9% 0.041 260.031);
    --color-laureo-text-lighter-dark: oklch(92.9% 0.013 255.508);

    --color-laureo-border: oklch(86.9% 0.022 252.894);
    --color-laureo-border-dark: oklch(44.6% 0.043 257.281);

    --color-laureo-error: oklch(57.7% 0.245 27.325);
    --color-laureo-error-bg: oklch(80.8% 0.114 19.571);

    --spacing: 0.25rem;

    --text-laureo-base: 16px;
}

@import "./../../../../theme/admin.css";

.min-h-content-height {
    min-height: calc(100vh - 24px);
}

.min-h-sidebar-height {
    min-height: calc(100vh - 48px);
}

[data-rich-text-placeholder] {

    &:before {
        content: attr(data-rich-text-placeholder);
    }
}

br:has(+ [data-rich-text-placeholder]) {
    display: none;
}
